{
    "timeout": 10,
    "source": {
        "directories": ["src"]
    },
    "logs": {
        "text": "infection.log"
    },
    "minMsi": 71.43,
    "minCoveredMsi": 71.43,
    "testFrameworkOptions": "--testsuite=unit"
}
